editor/plugins/org.fusesource.ide.wsdl2rest.ui/example/echoService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name='EchoService' targetNamespace='http://echo/'
	xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/'
	xmlns:tns='http://echo/' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
	<types>
		<xs:schema targetNamespace='http://echo/' version='1.0'
			xmlns:tns='http://echo/' xmlns:xs='http://www.w3.org/2001/XMLSchema'>
			<xs:element name='echo' type='tns:echo' />
			<xs:element name='echoResponse' type='tns:echoResponse' />
			<xs:complexType name='echo'>
				<xs:sequence>
					<xs:element minOccurs='0' name='arg0' type='xs:string' />
				</xs:sequence>
			</xs:complexType>
			<xs:element name='DUPLICATESTRING' type='xs:string' />
			<xs:element name='DUPLICATE_STRING' type='xs:string' />
			<xs:complexType name='echoResponse'>
				<xs:sequence>
					<xs:element minOccurs='0' name='return' type='xs:string' />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</types>
	<message name='Echo_echo'>
		<part element='tns:echo' name='echo' />
	</message>
	<message name='Echo_echoResponse'>
		<part element='tns:echoResponse' name='echoResponse' />
	</message>
	<portType name='Echo'>
		<operation name='echo' parameterOrder='echo'>
			<input message='tns:Echo_echo' />
			<output message='tns:Echo_echoResponse' />
		</operation>
	</portType>
	<binding name='EchoBinding' type='tns:Echo'>
		<soap:binding style='document'
			transport='http://schemas.xmlsoap.org/soap/http' />
		<operation name='echo'>
			<soap:operation soapAction='' />
			<input>
				<soap:body use='literal' />
			</input>
			<output>
				<soap:body use='literal' />
			</output>
		</operation>
	</binding>
	<service name='EchoService'>
		<documentation>Congrats! You have published your own WSDL!
		</documentation>
		<port binding='tns:EchoBinding' name='EchoPort'>
			<soap:address location='REPLACE_WITH_ACTUAL_URL' />
		</port>
	</service>
</definitions>

