qe/tests/org.jboss.tools.fuse.qe.reddeer.tests/resources/projects/datatrans/src/data/abc-order.xml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ABCOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="status"/>
              <xs:element type="xs:string" name="customer-num"/>
              <xs:element type="xs:string" name="order-num"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="order-items">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="item" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="price">
                      <xs:simpleType>
                        <xs:restriction base="xs:float">
                          <xs:enumeration value="2.25"/>
                          <xs:enumeration value="1.25"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="quantity">
                      <xs:simpleType>
                        <xs:restriction base="xs:short">
                          <xs:enumeration value="1000"/>
                          <xs:enumeration value="400"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="id" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>