editor/tests/org.fusesource.ide.wsdl2rest.ui.tests.integration/src/test/resources/wsdl/Address.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="AddressService" targetNamespace="http://doclit.test.wsdl2rest.fuse.jboss.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://doclit.test.wsdl2rest.fuse.jboss.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:tns="http://doclit.test.wsdl2rest.fuse.jboss.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://doclit.test.wsdl2rest.fuse.jboss.org/" version="1.0">

  <xs:element name="addAddress" type="tns:addAddress"/>

  <xs:element name="addAddressResponse" type="tns:addAddressResponse"/>

  <xs:element name="delAddress" type="tns:delAddress"/>

  <xs:element name="delAddressResponse" type="tns:delAddressResponse"/>

  <xs:element name="getAddress" type="tns:getAddress"/>

  <xs:element name="getAddressResponse" type="tns:getAddressResponse"/>

  <xs:element name="listAddresses" type="tns:listAddresses"/>

  <xs:element name="listAddressesResponse" type="tns:listAddressesResponse"/>

  <xs:element name="updAddress" type="tns:updAddress"/>

  <xs:element name="updAddressResponse" type="tns:updAddressResponse"/>

  <xs:complexType name="delAddress">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="delAddressResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:item"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="item">
    <xs:sequence>
      <xs:element minOccurs="0" name="dateOfBirth" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addAddress">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:item"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addAddressResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="listAddresses">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="listAddressesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updAddress">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:item"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updAddressResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getAddress">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getAddressResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:item"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="updAddressResponse">
    <wsdl:part name="parameters" element="tns:updAddressResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="delAddressResponse">
    <wsdl:part name="parameters" element="tns:delAddressResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listAddresses">
    <wsdl:part name="parameters" element="tns:listAddresses">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updAddress">
    <wsdl:part name="parameters" element="tns:updAddress">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAddress">
    <wsdl:part name="parameters" element="tns:getAddress">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="delAddress">
    <wsdl:part name="parameters" element="tns:delAddress">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAddressResponse">
    <wsdl:part name="parameters" element="tns:getAddressResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addAddress">
    <wsdl:part name="parameters" element="tns:addAddress">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addAddressResponse">
    <wsdl:part name="parameters" element="tns:addAddressResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listAddressesResponse">
    <wsdl:part name="parameters" element="tns:listAddressesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Address">
    <wsdl:operation name="delAddress">
      <wsdl:input name="delAddress" message="tns:delAddress">
    </wsdl:input>
      <wsdl:output name="delAddressResponse" message="tns:delAddressResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addAddress">
      <wsdl:input name="addAddress" message="tns:addAddress">
    </wsdl:input>
      <wsdl:output name="addAddressResponse" message="tns:addAddressResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listAddresses">
      <wsdl:input name="listAddresses" message="tns:listAddresses">
    </wsdl:input>
      <wsdl:output name="listAddressesResponse" message="tns:listAddressesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updAddress">
      <wsdl:input name="updAddress" message="tns:updAddress">
    </wsdl:input>
      <wsdl:output name="updAddressResponse" message="tns:updAddressResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAddress">
      <wsdl:input name="getAddress" message="tns:getAddress">
    </wsdl:input>
      <wsdl:output name="getAddressResponse" message="tns:getAddressResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AddressServiceSoapBinding" type="tns:Address">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="delAddress">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="delAddress">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="delAddressResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addAddress">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addAddress">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addAddressResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listAddresses">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="listAddresses">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listAddressesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updAddress">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updAddress">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updAddressResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAddress">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAddress">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAddressResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AddressService">
    <wsdl:port name="AddressPort" binding="tns:AddressServiceSoapBinding">
      <soap:address location="http://localhost:9090/AddressPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
