editor/plugins/org.fusesource.ide.catalogs/xsd/fuse/activemq-ra-5.11.0.redhat-620133.xsd

<?xml version='1.0'?>
<!-- NOTE: this file is autogenerated by Apache XBean -->

<xs:schema elementFormDefault='qualified'
           targetNamespace='http://activemq.apache.org/schema/ra'
           xmlns:xs='http://www.w3.org/2001/XMLSchema'
           xmlns:tns='http://activemq.apache.org/schema/ra'>

  <!-- element for type: org.apache.activemq.ra.ActiveMQActivationSpec -->
  <xs:element name='activationSpec'>
    <xs:annotation>
      <xs:documentation><![CDATA[
        Configures the inbound JMS consumer specification using ActiveMQ
      ]]></xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded"><xs:choice>
        <xs:element name='activeMQDestination' minOccurs='0' maxOccurs='1'>
          <xs:annotation>
            <xs:documentation><![CDATA[
              A helper method mostly for use in Dependency Injection containers which
allows you to customize the destination and destinationType properties
from a single ActiveMQDestination POJO
            ]]></xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any minOccurs='0' maxOccurs='unbounded'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='resourceAdapter' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any minOccurs='0' maxOccurs='unbounded'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:any namespace='##other' minOccurs='0' maxOccurs='unbounded'/>
      </xs:choice></xs:choice>
      <xs:attribute name='acknowledgeMode' type='xs:string'/>
      <xs:attribute name='activeMQDestination' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            A helper method mostly for use in Dependency Injection containers which
allows you to customize the destination and destinationType properties
from a single ActiveMQDestination POJO
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='backOffMultiplier' type='xs:double'/>
      <xs:attribute name='clientId' type='xs:string'/>
      <xs:attribute name='destination' type='xs:string'/>
      <xs:attribute name='destinationType' type='xs:string'/>
      <xs:attribute name='enableBatch' type='xs:string'/>
      <xs:attribute name='initialRedeliveryDelay' type='xs:long'/>
      <xs:attribute name='keyStore' type='xs:string'/>
      <xs:attribute name='keyStoreKeyPassword' type='xs:string'/>
      <xs:attribute name='keyStorePassword' type='xs:string'/>
      <xs:attribute name='maxMessagesPerBatch' type='xs:string'/>
      <xs:attribute name='maxMessagesPerSessions' type='xs:string'/>
      <xs:attribute name='maxSessions' type='xs:string'/>
      <xs:attribute name='maximumRedeliveries' type='xs:integer'/>
      <xs:attribute name='maximumRedeliveryDelay' type='xs:long'/>
      <xs:attribute name='messageSelector' type='xs:string'/>
      <xs:attribute name='noLocal' type='xs:string'/>
      <xs:attribute name='password' type='xs:string'/>
      <xs:attribute name='resourceAdapter' type='xs:string'/>
      <xs:attribute name='subscriptionDurability' type='xs:string'/>
      <xs:attribute name='subscriptionName' type='xs:string'/>
      <xs:attribute name='trustStore' type='xs:string'/>
      <xs:attribute name='trustStorePassword' type='xs:string'/>
      <xs:attribute name='useExponentialBackOff' type='xs:boolean'/>
      <xs:attribute name='useJndi' type='xs:boolean'/>
      <xs:attribute name='useRAManagedTransaction' type='xs:string'/>
      <xs:attribute name='userName' type='xs:string'/>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.apache.activemq.ra.ActiveMQManagedConnectionFactory -->
  <xs:element name='managedConnectionFactory'>
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded"><xs:choice>
        <xs:element name='info' minOccurs='0' maxOccurs='1'>
          <xs:annotation>
            <xs:documentation><![CDATA[
              Gets the connection request information.
            ]]></xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any minOccurs='0' maxOccurs='unbounded'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='logWriter' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any minOccurs='0' maxOccurs='unbounded'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='resourceAdapter' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any minOccurs='0' maxOccurs='unbounded'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:any namespace='##other' minOccurs='0' maxOccurs='unbounded'/>
      </xs:choice></xs:choice>
      <xs:attribute name='allPrefetchValues' type='xs:integer'/>
      <xs:attribute name='clientid' type='xs:string'/>
      <xs:attribute name='durableTopicPrefetch' type='xs:integer'/>
      <xs:attribute name='info' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Gets the connection request information.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='initialRedeliveryDelay' type='xs:long'/>
      <xs:attribute name='inputStreamPrefetch' type='xs:integer'/>
      <xs:attribute name='keyStore' type='xs:string'/>
      <xs:attribute name='keyStoreKeyPassword' type='xs:string'/>
      <xs:attribute name='keyStorePassword' type='xs:string'/>
      <xs:attribute name='logWriter' type='xs:string'/>
      <xs:attribute name='maximumRedeliveries' type='xs:integer'/>
      <xs:attribute name='maximumRedeliveryDelay' type='xs:long'/>
      <xs:attribute name='optimizeDurableTopicPrefetch' type='xs:integer'/>
      <xs:attribute name='password' type='xs:string'/>
      <xs:attribute name='queueBrowserPrefetch' type='xs:integer'/>
      <xs:attribute name='queuePrefetch' type='xs:integer'/>
      <xs:attribute name='redeliveryBackOffMultiplier' type='xs:double'/>
      <xs:attribute name='redeliveryUseExponentialBackOff' type='xs:boolean'/>
      <xs:attribute name='resourceAdapter' type='xs:string'/>
      <xs:attribute name='serverUrl' type='xs:string'/>
      <xs:attribute name='topicPrefetch' type='xs:integer'/>
      <xs:attribute name='trustStore' type='xs:string'/>
      <xs:attribute name='trustStorePassword' type='xs:string'/>
      <xs:attribute name='useInboundSession' type='xs:boolean'/>
      <xs:attribute name='useSessionArgs' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            if true, calls to managed connection factory.connection.createSession will
respect the passed in args. When false (default) the args are ignored b/c
the container will do transaction demarcation via xa or local transaction rar
contracts.
This option is useful when a managed connection is used in plain jms mode
and a jms transacted session session is required.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='userName' type='xs:string'/>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.apache.activemq.ra.ActiveMQResourceAdapter -->
  <xs:element name='resourceAdapter'>
    <xs:annotation>
      <xs:documentation><![CDATA[
        The JCA Resource Adaptor for ActiveMQ
      ]]></xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded"><xs:choice>
        <xs:element name='connectionFactory' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any minOccurs='0' maxOccurs='unbounded'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='info' minOccurs='0' maxOccurs='1'>
          <xs:annotation>
            <xs:documentation><![CDATA[
              Gets the connection request information.
            ]]></xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any minOccurs='0' maxOccurs='unbounded'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:any namespace='##other' minOccurs='0' maxOccurs='unbounded'/>
      </xs:choice></xs:choice>
      <xs:attribute name='allPrefetchValues' type='xs:integer'/>
      <xs:attribute name='brokerXmlConfig' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Sets the <a href="http://activemq.org/Xml+Configuration">XML
configuration file </a> used to configure the ActiveMQ broker via Spring
if using embedded mode.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='clientid' type='xs:string'/>
      <xs:attribute name='connectionFactory' type='xs:string'/>
      <xs:attribute name='durableTopicPrefetch' type='xs:integer'/>
      <xs:attribute name='info' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Gets the connection request information.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='initialRedeliveryDelay' type='xs:long'/>
      <xs:attribute name='inputStreamPrefetch' type='xs:integer'/>
      <xs:attribute name='keyStore' type='xs:string'/>
      <xs:attribute name='keyStoreKeyPassword' type='xs:string'/>
      <xs:attribute name='keyStorePassword' type='xs:string'/>
      <xs:attribute name='maximumRedeliveries' type='xs:integer'/>
      <xs:attribute name='maximumRedeliveryDelay' type='xs:long'/>
      <xs:attribute name='optimizeDurableTopicPrefetch' type='xs:integer'/>
      <xs:attribute name='password' type='xs:string'/>
      <xs:attribute name='queueBrowserPrefetch' type='xs:integer'/>
      <xs:attribute name='queuePrefetch' type='xs:integer'/>
      <xs:attribute name='redeliveryBackOffMultiplier' type='xs:double'/>
      <xs:attribute name='redeliveryUseExponentialBackOff' type='xs:boolean'/>
      <xs:attribute name='serverUrl' type='xs:string'/>
      <xs:attribute name='topicPrefetch' type='xs:integer'/>
      <xs:attribute name='trustStore' type='xs:string'/>
      <xs:attribute name='trustStorePassword' type='xs:string'/>
      <xs:attribute name='useInboundSession' type='xs:boolean'/>
      <xs:attribute name='useSessionArgs' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            if true, calls to managed connection factory.connection.createSession will
respect the passed in args. When false (default) the args are ignored b/c
the container will do transaction demarcation via xa or local transaction rar
contracts.
This option is useful when a managed connection is used in plain jms mode
and a jms transacted session session is required.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='userName' type='xs:string'/>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


</xs:schema>
