editor/tests/org.fusesource.ide.wsdl2rest.tests/resources/rpclit/Address.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="AddressService" targetNamespace="http://rpclit.test.wsdl2rest.fuse.jboss.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://rpclit.test.wsdl2rest.fuse.jboss.org/" xmlns:ns1="http://jaxb.dev.java.net/array" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://rpclit.test.wsdl2rest.fuse.jboss.org/" version="1.0">

  <xs:complexType name="item">
    <xs:sequence>
      <xs:element minOccurs="0" name="dateOfBirth" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://jaxb.dev.java.net/array" version="1.0">

  <xs:complexType final="#all" name="intArray">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="delAddress">
    <wsdl:part name="arg0" type="xsd:int">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAddressResponse">
    <wsdl:part name="return" type="tns:item">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addAddress">
    <wsdl:part name="arg0" type="tns:item">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addAddressResponse">
    <wsdl:part name="return" type="xsd:int">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listAddressesResponse">
    <wsdl:part name="return" type="ns1:intArray">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updAddressResponse">
    <wsdl:part name="return" type="xsd:int">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="delAddressResponse">
    <wsdl:part name="return" type="tns:item">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listAddresses">
  </wsdl:message>
  <wsdl:message name="updAddress">
    <wsdl:part name="arg0" type="tns:item">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAddress">
    <wsdl:part name="arg0" type="xsd:int">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Address">
    <wsdl:operation name="delAddress">
      <wsdl:input name="delAddress" message="tns:delAddress">
    </wsdl:input>
      <wsdl:output name="delAddressResponse" message="tns:delAddressResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addAddress">
      <wsdl:input name="addAddress" message="tns:addAddress">
    </wsdl:input>
      <wsdl:output name="addAddressResponse" message="tns:addAddressResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listAddresses">
      <wsdl:input name="listAddresses" message="tns:listAddresses">
    </wsdl:input>
      <wsdl:output name="listAddressesResponse" message="tns:listAddressesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updAddress">
      <wsdl:input name="updAddress" message="tns:updAddress">
    </wsdl:input>
      <wsdl:output name="updAddressResponse" message="tns:updAddressResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAddress">
      <wsdl:input name="getAddress" message="tns:getAddress">
    </wsdl:input>
      <wsdl:output name="getAddressResponse" message="tns:getAddressResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AddressServiceSoapBinding" type="tns:Address">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="delAddress">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="delAddress">
        <soap:body use="literal" namespace="http://rpclit.test.wsdl2rest.fuse.jboss.org/"/>
      </wsdl:input>
      <wsdl:output name="delAddressResponse">
        <soap:body use="literal" namespace="http://rpclit.test.wsdl2rest.fuse.jboss.org/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addAddress">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="addAddress">
        <soap:body use="literal" namespace="http://rpclit.test.wsdl2rest.fuse.jboss.org/"/>
      </wsdl:input>
      <wsdl:output name="addAddressResponse">
        <soap:body use="literal" namespace="http://rpclit.test.wsdl2rest.fuse.jboss.org/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listAddresses">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="listAddresses">
        <soap:body use="literal" namespace="http://rpclit.test.wsdl2rest.fuse.jboss.org/"/>
      </wsdl:input>
      <wsdl:output name="listAddressesResponse">
        <soap:body use="literal" namespace="http://rpclit.test.wsdl2rest.fuse.jboss.org/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updAddress">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="updAddress">
        <soap:body use="literal" namespace="http://rpclit.test.wsdl2rest.fuse.jboss.org/"/>
      </wsdl:input>
      <wsdl:output name="updAddressResponse">
        <soap:body use="literal" namespace="http://rpclit.test.wsdl2rest.fuse.jboss.org/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAddress">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="getAddress">
        <soap:body use="literal" namespace="http://rpclit.test.wsdl2rest.fuse.jboss.org/"/>
      </wsdl:input>
      <wsdl:output name="getAddressResponse">
        <soap:body use="literal" namespace="http://rpclit.test.wsdl2rest.fuse.jboss.org/"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AddressService">
    <wsdl:port name="AddressPort" binding="tns:AddressServiceSoapBinding">
      <soap:address location="http://localhost:9090/AddressPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
