examples/transformation/xml-to-xml/src/data/xyz-order.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="XYZOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="properties">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="custId"/>
              <xs:element type="xs:string" name="priority"/>
              <xs:element type="xs:string" name="orderId"/>
              <xs:element type="xs:string" name="origin"/>
              <xs:element type="xs:string" name="approvalCode"/>
              <xs:element name="lineItems">
                <xs:complexType>
                  <xs:sequence>
                     <xs:element name="lineItem" maxOccurs="unbounded" minOccurs="0">
                       <xs:complexType>
                         <xs:sequence>
                           <xs:element type="xs:string" name="itemId"/>
                           <xs:element type="xs:short" name="amount"/>
                           <xs:element type="xs:float" name="cost"/>
                         </xs:sequence>
                       </xs:complexType>
                     </xs:element>
                   </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>