transformation/tests/org.jboss.tools.fuse.transformation.core.tests.integration/src/main/resources/org/jboss/tools/fuse/transformation/core/model/xml/Application.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema id="Application" elementFormDefault="qualified"
	targetNamespace="http://jboss.com/demo/products/soa-p/5.2/Application.xsd"
	xmlns:tns="http://jboss.com/demo/products/soa-p/5.2/Application.xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
	<xsd:element name="Application" type="tns:ApplicationType" />
    <xsd:element name="Junk" type="xsd:string"/>
	
	<xsd:complexType name="ApplicationType">
		<xsd:all minOccurs="0" maxOccurs="1">
			<!-- Rep_Identifier is for routing purposes only, and does not map to 
				a field on the physical application -->
			<xsd:element name="Rep_Identifier" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="100" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<!-- Source_Identifier is for office tracking purposes only, and does 
				not map to a field on the physical application -->
			<xsd:element name="Source_Identifier" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="100" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<!-- the Other_Income_Included element maps to the checkbox preceding 
				"the income or assets of a person other than the 'Borrower' (including the 
				Borrower's spouse) will be used as a basis for loan qualification" -->
			<xsd:element name="Other_Income_Included" minOccurs="0"
				maxOccurs="1" type="xsd:boolean" />
			<!-- the Other_Liabilities_Included element maps to the checkbox preceding 
				"the income or assets of the Borrower's spouse will not be used as a basis 
				for loan qualification, but his or her liabilities must be considered because..." -->
			<xsd:element name="Other_Liabilities_Included" minOccurs="0"
				maxOccurs="1" type="xsd:boolean" />
			<xsd:element name="Agency_Case_Number" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="50" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Lender_Case_Number" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="50" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<!-- the Type element maps to "Mortgage Applied For" -->
			<xsd:element name="Type" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Conventional" />
						<xsd:enumeration value="FHA" />
						<xsd:enumeration value="VA" />
						<xsd:enumeration value="FmHA" />
						<xsd:enumeration value="Other" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<!-- "Other" -->
			<xsd:element name="Type_Description" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="1000" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
<!-- Newly added field in version 2
			<xsd:element name="NewV2Field" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="50" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>  -->
<!-- End of newly added field in version 2 -->
			<xsd:element name="Amount" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Interest_Rate" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="4" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Number_Of_Months" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:minInclusive value="0" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Amortization_Type" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Fixed_Rate" />
						<xsd:enumeration value="GPM" />
						<xsd:enumeration value="Other" />
						<xsd:enumeration value="ARM" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<!-- "Other (explain)" or "ARM (type)" -->
			<xsd:element name="Amortization_Type_Description"
				minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="1000" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Property" type="tns:PropertyType" minOccurs="0" maxOccurs="1" />
			<xsd:element name="Purpose" type="tns:PurposeType" minOccurs="0" maxOccurs="1" />
			<xsd:element name="Borrowers" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Borrower" type="tns:BorrowerType"
							minOccurs="0" maxOccurs="2" />
						<xsd:element name="Housing_Expense" minOccurs="0"
							maxOccurs="1">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Expense" type="tns:ExpenseType"
										minOccurs="0" maxOccurs="2" />
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="Assets_Liabilities" type="tns:AssetsLiabilitiesType"
							minOccurs="0" maxOccurs="1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Transaction" type="tns:TransactionType"
				minOccurs="0" maxOccurs="1" />
		</xsd:all>
		<xsd:attribute name="Application_ID" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1" />
					<xsd:maxLength value="32" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="Date_Created" use="optional">
			<xsd:simpleType>
				<xsd:restriction base="xsd:dateTime" />
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="PropertyType">
		<xsd:all minOccurs="1" maxOccurs="1">
			<!-- the Type element maps to "Property Will Be" -->
			<xsd:element name="Type" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Primary_Residence" />
						<xsd:enumeration value="Secondary_Residence" />
						<xsd:enumeration value="Investment" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Address_1" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="255" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Address_2" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="255" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="City" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="50" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="State" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="50" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Postal_Code" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="20" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="County" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="50" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Number_Of_Units" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:minInclusive value="0" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Year_Built" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:minInclusive value="0" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Legal_Description" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="5000" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="PurposeType">
		<xsd:all minOccurs="1" maxOccurs="1">
			<!-- the Type element maps to "Purpose of Loan" -->
			<xsd:element name="Type" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Purchase" />
						<xsd:enumeration value="Refinance" />
						<xsd:enumeration value="Construction" />
						<xsd:enumeration value="Construction_Permanent" />
						<xsd:enumeration value="Other" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<!-- "Other" -->
			<xsd:element name="Type_Description" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="1000" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Title_Holder_Name" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="255" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Manner_Title_Held" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="255" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Source_Of_Down_Payment" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="1000" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<!-- the Estate_Held element maps to "Estate Will Be Held In" -->
			<xsd:element name="Estate_Held" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Fee_Simple" />
						<xsd:enumeration value="Leasehold" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<!-- "Leasehold (show expiration date)" -->
			<xsd:element name="Estate_Held_Description" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="1000" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Construction" type="tns:ConstructionType"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="Refinance" type="tns:RefinanceType"
				minOccurs="0" maxOccurs="1" />
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="ConstructionType">
		<xsd:all minOccurs="1" maxOccurs="1">
			<xsd:element name="Year_Lot_Acquired" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:minInclusive value="0" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Original_Cost" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Amount_Existing_Liens" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Present_Value_Of_Lot" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Cost_Of_Improvements" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="RefinanceType">
		<xsd:all minOccurs="1" maxOccurs="1">
			<xsd:element name="Year_Acquired" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:minInclusive value="0" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Original_Cost" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Amount_Existing_Liens" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Purpose" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="1000" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<!-- the Improvement Type element maps to "Describe Improvements" -->
			<xsd:element name="Improvement_Type" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="None" />
						<xsd:enumeration value="Made" />
						<xsd:enumeration value="To_Be_Made" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Improvements" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="1000" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Improvements_Cost" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="BorrowerType">
		<xsd:all minOccurs="1" maxOccurs="1">
			<xsd:element name="Title" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="50" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="First_Name" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="50" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Middle_Name" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="50" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Last_Name" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="50" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SSN" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="50" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Phone" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="20" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DOB" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:pattern
							value="[0-1]?[0-9]/[0-3]?[0-9]/[12][0-9][0-9][0-9]" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Years_School" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Marital_Status" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Not_Specified" />
						<xsd:enumeration value="Married" />
						<xsd:enumeration value="Unmarried" />
						<xsd:enumeration value="Separated" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Dependents" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:minInclusive value="0" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Dependents_Ages" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="100" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="Addresses" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Address"
							type="tns:AddressType" minOccurs="0" maxOccurs="3" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Employment_Information" minOccurs="0"
				maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Years_In_Profession"
							minOccurs="0" maxOccurs="1">
							<xsd:simpleType>
								<xsd:restriction base="xsd:decimal">
									<xsd:fractionDigits value="2" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="Employment"
							type="tns:EmploymentType" minOccurs="0" maxOccurs="3" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Income" type="tns:IncomeType"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="Declarations" type="tns:DeclarationsType"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="Government_Monitoring"
				type="tns:GovernmentMonitoringType" minOccurs="0" maxOccurs="1" />
		</xsd:all>
		<xsd:attribute name="Borrower_Type" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Borrower" />
					<xsd:enumeration value="Co_Borrower" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="AddressType">
		<xsd:all minOccurs="1" maxOccurs="1">
			<xsd:element name="Type" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Not_Specified" />
						<xsd:enumeration value="Own" />
						<xsd:enumeration value="Rent" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Address_1" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="255" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Address_2" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="255" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="City" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="50" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="State" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="50" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Postal_Code" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="20" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Number_Years" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:all>
		<xsd:attribute name="Address_Sequence" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:positiveInteger">
					<xsd:enumeration value="1" />
					<xsd:enumeration value="2" />
					<xsd:enumeration value="3" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="EmploymentType">
		<xsd:all minOccurs="1" maxOccurs="1">
			<!-- the Is_Self_Employed element maps to the "Self Employed" checkbox -->
			<xsd:element name="Is_Self_Employed" minOccurs="0" maxOccurs="1" type="xsd:boolean" />
			<xsd:element name="Employer" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="Name" minOccurs="0" maxOccurs="1">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:minLength value="0" />
									<xsd:maxLength value="100" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="Address_1" minOccurs="0" maxOccurs="1">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:minLength value="0" />
									<xsd:maxLength value="255" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="Address_2" minOccurs="0" maxOccurs="1">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:minLength value="0" />
									<xsd:maxLength value="255" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="City" minOccurs="0" maxOccurs="1">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:minLength value="0" />
									<xsd:maxLength value="50" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="State" minOccurs="0" maxOccurs="1">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:minLength value="0" />
									<xsd:maxLength value="50" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="Postal_Code" minOccurs="0"
							maxOccurs="1">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:minLength value="0" />
									<xsd:maxLength value="20" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Position" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="100" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Title" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="100" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Type_Of_Business" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="100" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Business_Phone" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="20" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Date_From" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:pattern value="[0-1]?[0-9]/[0-3]?[0-9]/[12][0-9][0-9][0-9]" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Date_To" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:pattern value="[0-1]?[0-9]/[0-3]?[0-9]/[12][0-9][0-9][0-9]" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Monthly_Income" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:all>
		<xsd:attribute name="Employment_Sequence" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:positiveInteger">
					<xsd:enumeration value="1" />
					<xsd:enumeration value="2" />
					<xsd:enumeration value="3" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="IncomeType">
		<xsd:all minOccurs="1" maxOccurs="1">
			<xsd:element name="Base_Employment" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Overtime" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Bonuses" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Commissions" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Dividents_Interest" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Net_Rental_Income" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Other_1" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Other_2" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Other_Income_Sources" minOccurs="0"
				maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Other_Income" type="tns:OtherIncomeType"
							minOccurs="0" maxOccurs="3" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="OtherIncomeType">
		<xsd:all>
			<xsd:element name="Description" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="1000" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Amount" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:all>
		<xsd:attribute name="Other_Income_Sequence" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:positiveInteger">
					<xsd:enumeration value="1" />
					<xsd:enumeration value="2" />
					<xsd:enumeration value="3" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="ExpenseType">
		<xsd:all minOccurs="1" maxOccurs="1">
			<xsd:element name="Rent" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="First_Mortgage" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Other_Financing" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Hazard_Insurance" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Real_Estate_Taxes" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Mortgage_Insurance" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Homeowner_Assn_Dues" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Other" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:all>
		<xsd:attribute name="Expense_Type" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Present" />
					<xsd:enumeration value="Proposed" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="AssetsLiabilitiesType">
		<xsd:all minOccurs="1" maxOccurs="1">
			<xsd:element name="Completed_Type" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Jointly" />
						<xsd:enumeration value="Not_Jointly" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Real_Estate_Owned" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Retirement_Fund" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Businesses_Owned" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Cash_Deposits" minOccurs="0"
				maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Cash_Deposit" type="tns:CashDepositType"
							minOccurs="0" maxOccurs="2" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Checking_Savings" minOccurs="0"
				maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Account" type="tns:CheckingSavingsAccountType"
							minOccurs="0" maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Stocks_Bonds" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Account" type="tns:StocksBondsAccountType"
							minOccurs="0" maxOccurs="3" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Life_Insurance" minOccurs="0"
				maxOccurs="1">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="Net_Cash_Value" minOccurs="0"
							maxOccurs="1">
							<xsd:simpleType>
								<xsd:restriction base="xsd:decimal">
									<xsd:fractionDigits value="2" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="Face_Amount" minOccurs="0"
							maxOccurs="1">
							<xsd:simpleType>
								<xsd:restriction base="xsd:decimal">
									<xsd:fractionDigits value="2" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Automobiles" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Automobile" type="tns:AutomobileType"
							minOccurs="0" maxOccurs="3" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Other_Assets" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Asset" type="tns:AssetType" minOccurs="0"
							maxOccurs="3" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Liabilities" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Liability" type="tns:LiabilityType"
							minOccurs="0" maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Alimony_Child_Support" minOccurs="0"
				maxOccurs="1">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="Owed_To" minOccurs="0" maxOccurs="1">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:minLength value="0" />
									<xsd:maxLength value="100" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="Monthly_Payment" minOccurs="0"
							maxOccurs="1">
							<xsd:simpleType>
								<xsd:restriction base="xsd:decimal">
									<xsd:fractionDigits value="2" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="Months_Left" minOccurs="0"
							maxOccurs="1">
							<xsd:simpleType>
								<xsd:restriction base="xsd:decimal">
									<xsd:fractionDigits value="2" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Job_Related_Expenses" minOccurs="0"
				maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Job_Related_Expense" type="tns:JobRelatedExpenseType"
							minOccurs="0" maxOccurs="2" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Real_Estate" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Property" type="tns:RealEstatePropertyType"
							minOccurs="0" maxOccurs="3" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Credit_Previously_Received" minOccurs="0"
				maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Credit_Received" type="tns:CreditReceivedType"
							minOccurs="0" maxOccurs="3" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="CashDepositType">
		<xsd:all minOccurs="1" maxOccurs="1">
			<xsd:element name="Description" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="1000" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Amount" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:all>
		<xsd:attribute name="Cash_Deposit_Sequence" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:positiveInteger">
					<xsd:enumeration value="1" />
					<xsd:enumeration value="2" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="CheckingSavingsAccountType">
		<xsd:all minOccurs="1" maxOccurs="1">
			<xsd:element name="Account_Number" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="100" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Amount" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Name" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="100" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Address_1" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="255" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Address_2" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="255" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="City" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="50" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="State" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="50" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Postal_Code" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="20" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:all>
		<xsd:attribute name="Account_Sequence" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:positiveInteger" />
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="StocksBondsAccountType">
		<xsd:all minOccurs="1" maxOccurs="1">
			<xsd:element name="Description" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="1000" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Amount" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:all>
		<xsd:attribute name="Account_Sequence" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:positiveInteger">
					<xsd:enumeration value="1" />
					<xsd:enumeration value="2" />
					<xsd:enumeration value="3" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="AutomobileType">
		<xsd:all minOccurs="1" maxOccurs="1">
			<xsd:element name="Description" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="1000" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Amount" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:all>
		<xsd:attribute name="Automobile_Sequence" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:positiveInteger">
					<xsd:enumeration value="1" />
					<xsd:enumeration value="2" />
					<xsd:enumeration value="3" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="AssetType">
		<xsd:all minOccurs="1" maxOccurs="1">
			<xsd:element name="Description" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="1000" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Amount" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:all>
		<xsd:attribute name="Asset_Sequence" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:positiveInteger">
					<xsd:enumeration value="1" />
					<xsd:enumeration value="2" />
					<xsd:enumeration value="3" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="LiabilityType">
		<xsd:all minOccurs="1" maxOccurs="1">
			<xsd:element name="Account_Number" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="100" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Monthly_Payment" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Months_Left" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Unpaid_Balance" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Is_To_Be_Paid_Off" minOccurs="0"
				maxOccurs="1" type="xsd:boolean" />
			<xsd:element name="Name" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="100" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Address_1" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="255" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Address_2" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="255" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="City" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="50" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="State" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="50" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Postal_Code" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="20" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:all>
		<xsd:attribute name="Liability_Sequence" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:positiveInteger" />
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="JobRelatedExpenseType">
		<xsd:all minOccurs="1" maxOccurs="1">
			<xsd:element name="Description" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="1000" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Monthly_Payment" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Months_Left" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:all>
		<xsd:attribute name="Job_Related_Expense_Sequence" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:positiveInteger">
					<xsd:enumeration value="1" />
					<xsd:enumeration value="2" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="RealEstatePropertyType">
		<xsd:all minOccurs="1" maxOccurs="1">
			<xsd:element name="Address_1" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="255" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Address_2" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="255" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="City" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="50" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="State" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="50" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Postal_Code" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="20" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Status" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Not_Specified" />
						<xsd:enumeration value="Sold" />
						<xsd:enumeration value="Pending_Sale" />
						<xsd:enumeration value="Rental_Being_Held_For_Income" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Type" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Not_Specified" />
						<xsd:enumeration value="_2_4_PLEX" />
						<xsd:enumeration value="COM_NR" />
						<xsd:enumeration value="COM_R" />
						<xsd:enumeration value="CONDO" />
						<xsd:enumeration value="COOP" />
						<xsd:enumeration value="FARM" />
						<xsd:enumeration value="LAND" />
						<xsd:enumeration value="MIXED" />
						<xsd:enumeration value="MOBIL" />
						<xsd:enumeration value="MULTI" />
						<xsd:enumeration value="SFR" />
						<xsd:enumeration value="TOWN" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Market_Value" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Mortgages_Liens" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Gross_Rental" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Mortgage_Payments" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Insurance_Misc" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Net_Rental" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:all>
		<xsd:attribute name="Property_Sequence" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:positiveInteger" />
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="CreditReceivedType">
		<xsd:all minOccurs="1" maxOccurs="1">
			<xsd:element name="Alternate_Name" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="100" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Creditor_Name" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="100" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Account_Number" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="100" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:all>
		<xsd:attribute name="Credit_Received_Sequence" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:positiveInteger">
					<xsd:enumeration value="1" />
					<xsd:enumeration value="2" />
					<xsd:enumeration value="3" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="TransactionType">
		<xsd:all minOccurs="1" maxOccurs="1">
			<xsd:element name="Purchase_Price" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Alterations_Improvements" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Land" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Refinance" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Prepaid_Items" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Closing_Costs" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PMI_MIP" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Discount" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Subordinate_Financing" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Closing_Costs_Seller" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Loan_Amount" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PMI_MIP_Financed" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Other_Credits" minOccurs="0"
				maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Other_Credit" type="tns:OtherCreditType"
							minOccurs="0" maxOccurs="3" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="OtherCreditType">
		<xsd:all>
			<xsd:element name="Description" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0" />
						<xsd:maxLength value="1000" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Amount" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:all>
		<xsd:attribute name="Other_Credit_Sequence" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:positiveInteger">
					<xsd:enumeration value="1" />
					<xsd:enumeration value="2" />
					<xsd:enumeration value="3" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="DeclarationsType">
		<xsd:all minOccurs="1" maxOccurs="1">
			<xsd:element name="Any_Judgments" minOccurs="0"
				maxOccurs="1" type="xsd:boolean" />
			<xsd:element name="Declared_Bankrupt" minOccurs="0"
				maxOccurs="1" type="xsd:boolean" />
			<xsd:element name="Property_Foreclosed" minOccurs="0"
				maxOccurs="1" type="xsd:boolean" />
			<xsd:element name="Lawsuit" minOccurs="0" maxOccurs="1"
				type="xsd:boolean" />
			<xsd:element name="Obligated_On_Any_Loan" minOccurs="0"
				maxOccurs="1" type="xsd:boolean" />
			<xsd:element name="Delinquent" minOccurs="0" maxOccurs="1"
				type="xsd:boolean" />
			<xsd:element name="Obligated_To_Pay_Alimony" minOccurs="0"
				maxOccurs="1" type="xsd:boolean" />
			<xsd:element name="Borrowed_Down_Payment" minOccurs="0"
				maxOccurs="1" type="xsd:boolean" />
			<xsd:element name="Co_Maker_Note" minOccurs="0"
				maxOccurs="1" type="xsd:boolean" />
			<xsd:element name="U_S_Citizen" minOccurs="0" maxOccurs="1"
				type="xsd:boolean" />
			<xsd:element name="Permanent_Resident" minOccurs="0"
				maxOccurs="1" type="xsd:boolean" />
			<xsd:element name="Primary_Residence" minOccurs="0"
				maxOccurs="1" type="xsd:boolean" />
			<xsd:element name="Ownership_Interest" minOccurs="0"
				maxOccurs="1" type="xsd:boolean" />
			<xsd:element name="Property_Type" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Not_Specified" />
						<xsd:enumeration value="Principal_Residence" />
						<xsd:enumeration value="Second_Home" />
						<xsd:enumeration value="Investment_Property" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Title_Held" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Not_Specified" />
						<xsd:enumeration value="Solely_By_Yourself" />
						<xsd:enumeration value="Jointly_With_Your_Spouse" />
						<xsd:enumeration value="Jointly_With_Another_Person" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="GovernmentMonitoringType">
		<xsd:all minOccurs="1" maxOccurs="1">
			<xsd:element name="Race" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Not_Specified" />
						<xsd:enumeration value="I_do_not_wish_to_furnish_this_information" />
						<xsd:enumeration value="American_Indian_or_Alaskan_Native" />
						<xsd:enumeration value="Asian_or_Pacific_Islander" />
						<xsd:enumeration value="Black_not_of_Hispanic_origin" />
						<xsd:enumeration value="Hispanic" />
						<xsd:enumeration value="White_not_of_Hispanic_origin" />
						<xsd:enumeration value="Other" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Sex" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Not_Specified" />
						<xsd:enumeration value="Female" />
						<xsd:enumeration value="Male" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>

</xsd:schema>
