examples/transformation/xml-to-csv/src/data/accounts.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="accounts">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="org.xyz.Account" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="company">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="geo"/>
                    <xs:element type="xs:string" name="active"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="contact">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="firstName"/>
                    <xs:element type="xs:string" name="lastName"/>
                    <xs:element type="xs:string" name="streetAddr"/>
                    <xs:element type="xs:string" name="city"/>
                    <xs:element type="xs:string" name="state"/>
                    <xs:element type="xs:int" name="zip"/>
                    <xs:element type="xs:string" name="phone"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>