uitests/tests/org.jboss.tools.fuse.ui.bot.tests/resources/projects/trans217/src/main/resources/abc-order.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ABCOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="status"/>
              <xs:element type="xs:string" name="customer-num"/>
              <xs:element type="xs:string" name="order-num"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="order-items">
          <xs:complexType>
            <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="xs:float" name="price"/>
                        <xs:element type="xs:short" name="quantity"/>
                    </xs:sequence>
                    <xs:attribute type="xs:string" name="id"/>
                </xs:complexType>
            </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>